* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #fff;
    height: 100%;
    font-size: 1.2em;
    font-family: Verdana, Tahoma, sans-serif;
    overflow: hidden;
}

#contenedor {
    background-image: url("Assets/1.png");
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    outline: 0;
    overflow: hidden;
}

.pantallamenu {
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.pantallamenu div {
    display: flex;
    margin: 25px 0px;
    align-items: center;
    justify-content: center;
}

.pantallamenu .titulo {
    font-size: 1.2em;
    font-weight: 500;
}

.pantallamenu .grantitulo {
    display: flex;
    flex-direction: column;
}

.pantallamenu .grantitulo span {
    font-size: 1.8em;
    font-weight: 800;
}

.pantallamenu .puntaje {
    background-color: #f14c38;
    padding: 10px 0px;
    color: #f4f1e0;
    border: 2px solid;
    border-color: #f4f1e0;
    flex-direction: column;
}

.pantallamenu .imagenes img {
    margin: 0px 10px;
}

.pantallamenu .botones {
    flex-direction: column;
}

.pantallamenu .botones button {
    background: white;
    width: 400px;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 7px 0px;
}

/* Agregar efecto al colocar cursor sobre botones */

.pantallamenu .botones button:hover {
    font-weight: 600;
    cursor: pointer;
}

#juego, #juegoterminado, #instrucciones, #principal {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -900px;
    transition: top 1s;
}

#juego.current, #juegoterminado.current, #instrucciones.current, #principal.current {
    bottom: 0;
    transition: bottom 1s;
}

section {
    display: block;
}

/* Para que no aparezca el cursor del mouse dentro del juego */

#juego {
    cursor: none;
}

#jugador {
    display: block;
    margin: 5px auto;
}

#personajes div.dentrointrucciones {
    position: absolute;
    left: -9000px;
    opacity: 0;
    transition: opacity 1s;
}

#personajes.current, #personajes.dentrointrucciones {
    width: 80%;
    margin: 5px auto;
}

canvas {
    width: 100%;
    height: 100%;
}

#puntajeinfo {
    background: grey;
    position: absolute;
    width: 100%;
    padding: 5px 0;
}

#dulzura, #puntaje {
    position: relative;
    padding-left: 20px;
    color: #fff;
}

#dulzura output, #puntaje output {
    position: absolute;
    right: 20px;
}

/* Backgrounds que van a cambiar en transición dentro del juego (EN PROCESO) */
/* 
@keyframes cambiabackground {
    0% {
        background-image: url("Assets/1.png");
    }
    12.5% {
        background-image: url("Assets/2.png");
    }
    25% {
        background-image: url("Assets/3.png");
    }
    37.5% {
        background-image: url("Assets/4.png");
    }
    50% {
        background-image: url("Assets/5.png");
    }
    62.5% {
        background-image: url("Assets/6.png");
    }
    75% {
        background-image: url("Assets/7.png");
    }
    87.5% {
        background-image: url("Assets/8.png")
    }
    100% {
        background-image: url("Assets/1.png");
    }
}

#cambiabackground {
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: cambiabackground 120s linear infinite 0s;
    transition: background-image .6s ease-in-out;
} */